.App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  /* img {
	height: 60vh;
  } */
  .navbar-toggler-icon {
	background-color: white; /* Set your desired color */
  }
  #nav-dropdown{
	color: white;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Poppins&display=swap");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
  
  :root {
	  /* Color scheme */
	  --text: #fff;
	  --text-hover: #ff0;
	  --background-shade: inset 0 1.5em 0.33em -0.3em #aa85;
	  --background: #222c;
	  --background-gap: #0000;
	  --pad: 6px #aaac solid;
	  --pad-bottom: 6px #ff0c solid;
	  --pad-hover: #ff0c;
	  --gap: 1px solid #fff;
	  --gap-size: 1px;
	  --caret: #aaa;
	  --caret-hover: #ff0;
  }
  
  body {
	  /* background: url("https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") top right no-repeat; */
	  background-attachment: fixed;
	  background-size: cover;
  }
  
  /* Navbar */
  body, h1, h2, h3, p, ul, li {
	  margin: 0;
	  padding: 0;
	}
	nav {
	  background-color: #0e2246;
	  position: relative;
	  width: 100%;
	  z-index: 999;
	  height: 45px;
	  line-height: 45px;
	  
	}
	
	nav .wrapper {
	  position: relative;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  margin: 0;  
	
	
	}
	
	
	.wrapper .nav_links {
	  display: flex;
	}
	
	.wrapper .nav_links {
	  display: flex;
	  width: 100%;
	  justify-content: space-between;
	  margin: 0; 
	}
	
	.nav_links li {
	  flex: 1;
	  list-style: none; 
	  border-right: 1px solid #fff; 
	
	  margin: 0; 
	}
	
	ol,
	ul {
	  padding-left: 0rem !important;
	}
	
	.wrapper .logo a,
	.nav_links li a {
	  color: #f2f2f2;
	  text-decoration: none !important;
	  font-size: 18px;
	  font-weight: 500;
	  border-radius: 5px;
	  padding: 9px 15px;
	  transition: all 0.3s ease;
	  position: relative;
	  /* background-color: #0e2246; */
	  justify-content: center;
	  align-items: center;
	  display:flex;
	  height: 43px;
	  line-height: 43px;
	list-style: none !important;
	
	
	}
	.wrapper .logo a {
	  font-size: 27px;
	  font-weight: 600;
	  text-transform: uppercase;
	}
	
	.nav_links li a {
	  font-size: 18px;
	  font-weight: 500;
	  border-radius: 5px;
	  padding: 9px 15px;
	  transition: all 0.3s ease;
	  position: relative;
	  text-decoration: none !important;
	  list-style: none !important;
	  /* z-index: -1;  */
	
		/* background-color: inherit; */
		 /* border: 0px  solid white;
		  */
	
	}
	
	.nav_links li a:hover {
	  background: #f2f2f2;
	  color: #0e2246;
	  /* font-size: x-small; */
	}
	
	.nav_links li a:after {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  left: 50%;
	  height: 2px;
	  width: 0;
	  background-color:#0e2246;
	  transition: all 0.3s ease;
	}
	
	.nav_links li a:hover:after {
	  width: 100%;
	  left: 0;
	}
	
	
	.nav_links .mobile_item {
	  display: none;
	  
	}
	
	/**********************************
				Drop Down Menu             
	*********************************** */
	
	.nav_links .drop_menu {
	  position: absolute;
	  top: 65px;
	  width: 180px;
	  line-height: 45px;
	  background-color: #0e2246;
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease-in-out;
	  
	}
	.nav_links li:hover .drop_menu,
	.nav_links li:hover .mega_box1 {
	  top: 45px;
	  opacity: 1;
	  visibility: visible;
	  
	}
	.nav_links li:hover .mega_box2 {
	  top: 45px;
	  opacity: 1;
	  visibility: visible;
	}
	.nav_links li:hover .mega_box3 {
	  top: 45px;
	  opacity: 1;
	  visibility: visible;
	}
	.nav_links li:hover .mega_box4 { 
	  top: 45px;
	  opacity: 1;
	  visibility: visible;
	}
	.nav_links li:hover .mega_box5 {
	  top: 45px;
	  opacity: 1;
	  visibility: visible;
	}
	.drop_menu li a {
	  width: 100%;
	  display: block;
	  padding: 0 0 0 15px;
	  font-weight: 400;
	  border-radius: 0px;
	}
	
	/**********************************
				  Mega Menu             
	*********************************** */
	
	.mega_box1 {
	  position: absolute;
	  top: 85px;
	  left: 0;
	  width: 100%;
	  /* padding: 0 30px; */
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease;
	  
	}
	
	.mega_box1 .content {
	  background-image: url(https://www.keralauniversity.ac.in/images/academic.jpg);
	  object-fit: contain;
	  padding: 25px 20px;
	  height: 430px;
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  background-size: cover;
	  background-position: center;
	  z-index: -1;
	}
	
	.mega_box2 {
	  position: absolute;
	  top: 85px;
	  left: 0;
	  width: 100%;
	  /* padding: 0 30px; */
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease;
	}
	
	.mega_box2 .content {
	  background-image: url(https://www.keralauniversity.ac.in/images/academic.jpg);
	  object-fit: contain;
	  padding: 25px 20px;
		height: 430px;
	
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  background-size: cover;
	  background-position: center;
	  z-index: -1;
	}
	
	.mega_box3 {
	  position: absolute;
	  top: 85px;
	  left: 0;
	  width: 100%;
	  /* padding: 0 30px; */
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease;
	}
	
	.mega_box3 .content {
	  background-image: url(https://www.keralauniversity.ac.in/images/academic.jpg);
	  object-fit: contain;
	  padding: 25px 20px;
		height: 430px;
	
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  background-size: cover;
	  background-position: center;
	  z-index: -1;
	}
	.mega_box4 {
	  position: absolute;
	  top: 85px;
	  left: 0;
	  width: 100%;
	  /* padding: 0 30px; */
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease;
	}
	
	.mega_box4 .content {
	  background-image: url(https://www.keralauniversity.ac.in/images/academic.jpg);
	  object-fit: contain;
	  padding: 25px 20px;
		height: 430px;
	
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  background-size: cover;
	  background-position: center;
	  z-index: -1;
	}
	.mega_box5 {
	  position: absolute;
	  top: 85px;
	  left: 0;
	  width: 100%;
	  /* padding: 0 30px; */
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease;
	}
	
	.mega_box5 .content {
	  background-image: url(https://www.keralauniversity.ac.in/images/academic.jpg);
	  object-fit: contain;
	  padding: 25px 20px;
		height: 430px;
	
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  background-size: cover;
	  background-position: center;
	  z-index: -1;
	}
	.content .row {
	  width: calc(40% - 90px);
	  /* width: "100%"; */
	  line-height: 45px;
	}
	
	.content .row header {
	  color: #fff;
	  font-weight: 800;
	  font-size: 20px;
	}
	
	
	
	.content .row .services_img {
	  /* background-image: url(https://i.pinimg.com/originals/cc/21/4a/cc214a8fc4c81b090c84811ddcfa791c.jpg); */
	  /* background-color: #d9d9d9; */
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
	  width: 100%;
	  /* height: 100%; */
	  border-radius: 5px;
	  object-fit: cover;
	}
	
	.content .row .mega_links {
	  /* margin-left: -40px; */
	  /* border-left: 1px solid rgba(255, 255, 255, 0.09); */
	  
	}
	.content .row .first_links {
	  border-left: 0px;
	  
	}
	
	.row .mega_links li {
	  padding: 0 20px;
	}
	.row .mega_links li a {
	  padding: 0 20px;
	  color: #d9d9d9;
	  font-size: 17px;
	  line-height: 45px;
	  display: block;
	  list-style: none !important;
	}
	
	.row .mega_links li a:hover {
	  padding: 0 20px;
	  color: #0e2246;;
	  font-size: 17px;
	  line-height: 45px;
	  display: block;
	}
	
	/* buttons style */
	
	.wrapper .btn {
	  color: #fff;
	  font-size: 20px;
	  cursor: pointer;
	  display: none;
	}
	.wrapper .btn.cancel_btn {
	  position: absolute;
	  top: 0;
	  right: 10px;
	}
	
	/**********************************
			  Responsive Styles             
	*********************************** */
	
	@media screen and (max-width: 970px) {
	  .wrapper .btn {
		display: block;
		position: absolute;
		top: 0;
		right: 10px; 
		transform: translateY(1%); 
	  }
	  .wrapper .nav_links {
		position: fixed;
		height: 100vh;
		width: 100%;
		max-width: 350px;
		background: #0e2246;
		display: block;
		top: 0;
		left: 0;
		left: -100%;
		overflow-y: auto;
		line-height: 50px;
		padding: 50px 10px;
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
		transition: all 0.5s ease-in-out; 
		list-style: none !important;
		
	  }
	  #menu_btn:checked ~ .nav_links {
		left: 0%;
	  }
	  #menu_btn:checked ~ .btn.menu_btn {
		display: none;
	  }
	  .nav_links::-webkit-scrollbar {
		width: 0px;
	  }
	  .nav_links li {
		/* margin: 15px 10px; */
	  }
	  .nav_links li a {
		/* padding: 0 20px; */
		display: block;
		font-size: 20px;
	  }
	
	  /* drop down responsive */
	
	  .nav_links .drop_menu {
		position: static;
		opacity: 1;
		visibility: visible;
		top: 65px;
		padding-left: 20px;
		width: 100%;
		max-height: 0px;
		overflow: hidden;
	  }
	
	  #showDrop:checked ~ .drop_menu {
		max-height: 100%;
	  }
	  .nav_links .drop_menu li {
		margin: 0;
		
	  }
	  .nav_links .drop_menu li a {
		font-size: 18px;
		border-radius: 5px;
	  }
	  .nav_links .desktop_item {
		display: none;
	  }
	  .nav_links .mobile_item {
		display: block;
		font-size: 20px;
		color: #f2f2f2;
		font-weight: 500;
		padding-left: 20px;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.3s ease;
		list-style: none !important;
		
		
	  }
	  .nav_links .mobile_item:hover {
		background: #1b3957;
		
	  }
	
	  /* Mega menu responsive */
	
	  .mega_box1 {
		position: static;
		top: 65px;
		width: 100%;
		padding: 0 0px;
		opacity: 1;
		max-height: 0px;
		visibility: visible;
		overflow: hidden;
		transition: all 0.3s ease;
	  }
	  .mega_box2 {
		position: static;
		top: 65px;
		width: 100%;
		padding: 0 0px;
		opacity: 1;
		max-height: 0px;
		visibility: visible;
		overflow: hidden;
		transition: all 0.3s ease;
		
	  }
	  .mega_box3 {
		position: static;
		top: 65px;
		width: 100%;
		padding: 0 0px;
		opacity: 1;
		max-height: 0px;
		visibility: visible;
		overflow: hidden;
		transition: all 0.3s ease;
	  }
	  .mega_box4 {
		position: static;
		top: 65px;
		width: 100%;
		padding: 0 0px;
		opacity: 1;
		max-height: 0px;
		visibility: visible;
		overflow: hidden;
		transition: all 0.3s ease;
	  }
	  .mega_box5 {
		position: static;
		top: 65px;
		width: 100%;
		padding: 0 0px;
		opacity: 1;
		max-height: 0px;
		visibility: visible;
		overflow: hidden;
		transition: all 0.3s ease;
	  }
	
	  /* .mega_box1 */
	  #showMegaAboutUs:checked ~ .mega_box1 {
		max-height: initial; 
	  }
	
	  .mega_box1 .content {
		background-color: #0e2246;
		flex-direction: column;
		width: 100%; 
		padding-left: 0px;
		height: 600px !important;
	  }
	  .mega_box1 .content .row {
		width: 100%;
		margin-bottom: 15px;
		border-top: 1px solid rgba(255, 255, 255, 0.08);
	  }
	  .mega_box1 .content .row:nth-child(1),
	  .mega_box1 .content .row:nth-child(2) {
		border-top: 0px;
	  }
	
	  /* .mega_box2 */
	  #showMegaAcademic:checked ~ .mega_box2 {
		max-height: initial;
	  }
	  .mega_box2 .content {
		background-color: #0e2246;
		flex-direction: column;
		/* padding: 20px 20px 0 20px; */
		width: "100%";
		height: 600px !important;
	  }
	  .mega_box2 .content .row {
		width: 100%;
		margin-bottom: 15px;
		border-top: 1px solid rgba(255, 255, 255, 0.08);
	  }
	  .mega_box2 .content .row:nth-child(1),
	  .mega_box2 .content .row:nth-child(2) {
		border-top: 0px;
	  }
	
		/* .mega_box3 */
		#showMegaCarrerGuidance:checked ~ .mega_box3 {
		  max-height: initial;
		}
		.mega_box3 .content {
		  background-color: #0e2246;
		  flex-direction: column;
		  /* padding: 20px 20px 0 20px; */
		  width: "100%";
		  height: 400px !important;
		  
		}
		.mega_box3 .content .row {
		  width: 100%;
		  margin-bottom: 15px;
		  border-top: 1px solid rgba(255, 255, 255, 0.08);
		}
		.mega_box3 .content .row:nth-child(1),
		.mega_box3 .content .row:nth-child(2) {
		  border-top: 0px;
		}
	
		  /* .mega_box4 */
		  #showMegaStudents:checked ~ .mega_box4 {
			max-height: initial;
		  }
		  .mega_box4 .content {
			background-color: #0e2246;
			flex-direction: column;
			/* padding: 20px 20px 0 20px; */
			width: "100%";
			height: 500px !important;
		  }
		  .mega_box4 .content .row {
			width: 100%;
			margin-bottom: 15px;
			border-top: 1px solid rgba(255, 255, 255, 0.08);
		  }
		  .mega_box4 .content .row:nth-child(1),
		  .mega_box4 .content .row:nth-child(2) {
			border-top: 0px;
		  }
	
			/* .mega_box5 */
			#showMegaJobVaccancies:checked ~ .mega_box5 {
			  max-height: initial;
			}
			.mega_box5 .content {
			  background-color: #0e2246;
			  flex-direction: column;
			  /* padding: 20px 20px 0 20px; */
			  width: "100%";
			  height: 600px !important;
			}
			.mega_box5 .content .row {
			  width: 100%;
			  margin-bottom: 15px;
			  border-top: 1px solid rgba(255, 255, 255, 0.08);
			}
			.mega_box5 .content .row:nth-child(1),
			.mega_box5 .content .row:nth-child(2) {
			  border-top: 0px;
			}
	
	  .content .row .services_img {
		height: 100px;
	  }
	  .content .img_row {
		border-top: none !important;
	  }
	  .content .row .mega_links {
		border-left: 0px;
		/* padding-left: 15px; */
	  }
	  .row .mega_links li {
		margin: 0;
	  }
	  .content .row header {
		font-size: 18px;
	  }
	}
	.wrapper input {
	  display: none;
	}
	.mega_box1 .content,
	.mega_box2 .content,
	.mega_box3 .content,
	.mega_box4 .content,
	.mega_box5 .content {
	  /* display: flex;
	   flex-direction: column;  */
	   justify-content: center;
	   align-items: center; 
	  padding-left: 150px;
	}
	
	
	@media screen and (max-width: 970px) {
	  #showMegaAboutUs:checked ~ .mega_box1 {
		max-height: initial;
	  }
	
	  .mega_box1 .content {
		background-color: #0e2246;
		/* flex-direction: column; */
		width: 100%;
		height: 600px !important;
		padding: 0; 
	  }
	}
	
	@media screen and (max-width: 970px) {
	  #showMegaAcademic:checked ~ .mega_box2 {
		max-height: initial;
	  }
	
	  .mega_box2 .content {
		background-color: #0e2246;
		/* flex-direction: column; */
		width: 100%;
		height: 600px !important;
		padding: 0; 
	  }
	}
	
	@media screen and (max-width: 970px) {
	  #showMegaCarrerGuidance:checked ~ .mega_box3 {
		max-height: initial;
	  }
	
	  .mega_box3 .content {
		background-color: #0e2246;
		/* flex-direction: column; */
		width: 100%;
		height: 400px !important;
		padding: 0; 
	  }
	}
	
	@media screen and (max-width: 970px) {
	  #showMegaStudents:checked ~ .mega_box4 {
		max-height: initial;
	  }
	
	  .mega_box4 .content {
		background-color: #0e2246;
		/* flex-direction: column; */
		width: 100%;
		height: 500px !important;
		padding: 0; 
	  }
	
	}
	
	@media screen and (max-width: 970px) {
	  #showMegaJobVaccancies:checked ~ .mega_box5 {
		max-height: initial;
	  }
	
	  .mega_box5 .content {
		background-color: #0e2246;
		/* flex-direction: column; */
		width: 100%;
		height: 600px !important;
		padding-left: 0; 
	  }
	}
	
	
	
	.linearHeader{
	  background: rgb(238,237,249);
	background: linear-gradient(90deg, rgba(238,237,249,1) 18%, rgba(150,157,178,1) 38%, rgba(14,34,70,1) 62%, rgba(14,34,70,1) 68%, rgba(14,34,70,1) 87%);
	}
	
	
	/* WeatherWidget.css */
	.box {
	  width: 20vw;
	  height: 0vh;
	  border-radius: 5px;
	  box-shadow: 0 2px 30px #0e2246;
	  background: #26436d;
	  position: relative;
	  overflow: hidden;
	  transform: translate3d(0, 0, 0);
	  min-width: 250px;
	  min-height: 150px;
	}
	
	.wave {
	  opacity: 0.3;
	  position: absolute;
	  top: 160%;
	  left: 50%;
	  background: #C5FFF8;
	  width: 300px;
	  height: 300px;
	  margin-left: -130px;
	  margin-top: -130px;
	  transform-origin: 50% 48%;
	  border-radius: 43%;
	  animation: drift 3000ms infinite linear;
	  z-index: 1;
	}
	
	.wave.-three {
	  animation: drift 5000ms infinite linear;
	  z-index: 2 !important;
	  opacity: 0.2;
	}
	
	.wave.-two {
	  animation: drift 7000ms infinite linear;
	  opacity: 0.1;
	  z-index: 3 !important;
	}
	
	.box:after {
	  content: "";
	  display: block;
	  left: 0;
	  top: 0;
	  width: 50%;
	  height: 50%;
	  z-index: 11;
	  transform: translate3d(0, 0, 0);
	}
	
	@keyframes drift {
	  from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(360deg);
	  }
	}
	
	.info {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* height: 45%; */
	  z-index: 4;
	}
	
	.location {
	  text-align: center;
	  font-weight: 500;
	}
	
	.date {
	  text-align: center;
	  /* margin-top: 5%; */
	  color: lighten(rgb(168, 102, 212), 10%);
	  font-size: 70%;
	}
	
	.temp {
	  /* margin-top: 10%; */
	  text-align: center;
	}
	
	.weathercon {
	  height: 50px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 4em;
	}
	
	@media (max-width: 600px) {
	  .box {
		width: 90vw;
		height: 80vh;
	  }
	
	  .wave {
		top: 85%;
	  }
	
	  .weathercon {
		font-size: 5em;
	  }
	
	  .info {
		font-size: 1.5rem;
	  }
	}
	
	@media (max-height: 500px) {
	  .box {
		height: 80vh;
	  }
	
	  .wave {
		top: 115%;
	  }
	}
	
	body > span {
	  width: 100vw;
	  text-align: center;
	  color: #26436d;
	}